infratec_example
[{"id":"eba66637.9e2b48","type":"tab","label":"Infratek"},{"id":"b5ab11e.d31cef","type":"tcp in","z":"eba66637.9e2b48","name":"","server":"server","host":"","port":"4003","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":80,"y":60,"wires":[["7a06c70b.5f93c8"]]},{"id":"7a06c70b.5f93c8","type":"function","z":"eba66637.9e2b48","name":"set last Analys","func":"flow.set('lastAnalys',msg.payload);\nflow.set('barcode',\"\");\nglobal.set('device_id','4b437ca6-971b-dc99-bc30-c2bc1f019000');\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":60,"wires":[["cecf782e.2573e8"]]},{"id":"704908f5.8f7e28","type":"http in","z":"eba66637.9e2b48","name":"","url":"/getQuality","method":"get","swaggerDoc":"","x":140,"y":120,"wires":[["35ece155.49966e"]]},{"id":"727a08a.58ecef8","type":"http response","z":"eba66637.9e2b48","name":"","x":630,"y":120,"wires":[]},{"id":"35ece155.49966e","type":"function","z":"eba66637.9e2b48","name":"create response","func":"var load = flow.get('load');\nif (load){\n    msg.payload = flow.get('parseQA');    \n}else{\n    msg.payload = {};\n}\nmsg.payload.barcode = flow.get('barcode');\nflow.set(\"load\",false);\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["727a08a.58ecef8","5a1f3d76.09eedc"]]},{"id":"cecf782e.2573e8","type":"function","z":"eba66637.9e2b48","name":"parse quality","func":"var result = {\n    localdate:new Date()\n};\n\nvar sdata = msg.payload;\nvar arr_sdata = sdata.split('\\n');\n\nresult.length = arr_sdata.length;\n\n//Ambient Temperature\nvar ambietTemperature = arr_sdata[7];\nvar arr_ambietTemperature = ambietTemperature.split(\":\");\nresult.ambietTemperature = arr_ambietTemperature[1];\n\n//Analysis Counter\nvar analysisCounter = arr_sdata[8];\nvar arr_analysisCounter = analysisCounter.split(\":\");\nresult.analysisCounter = arr_analysisCounter[1];\n\n//Sub sample\nvar subSample = arr_sdata[11];\nvar arr_subSample = subSample.split(\":\");\nvar arr_subSample_1 = arr_subSample[0].split(\"     \");\n\nresult.subsample = {\n   id : arr_subSample[0].replace(\"NrOFSubSamples\",\"\"),\n   NrOFSubSamples : arr_subSample[1]\n}\n\n//Sample hash\nvar sampleHash = arr_sdata[13];\nresult.sampleHash = sampleHash;\n\n//read quailities \nvar startQ  = 14;\nvar qLength = 7;\nvar endStr  = \"#\";\n\nvar qualities = [];\n\nfor( var i = startQ; i <= arr_sdata.length-qLength; ){\n    \n    var q = {\n        id:arr_sdata[i],\n        value:arr_sdata[i+1].split(String.fromCharCode(20)),\n        minmax:arr_sdata[i+4].split(String.fromCharCode(20))\n    }\n    qualities.push(q);   \n    i = i+qLength;\n    \n}\n\nresult.qualities = qualities;\nresult.datahash  = JSON.stringify(result);\n// msg.payload = arr_sdata;\nmsg.payload = result;\nflow.set('parseQA',result);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":60,"wires":[["95f92d4d.e8f76"]]},{"id":"906c5bb3.8a91d8","type":"serial in","z":"eba66637.9e2b48","name":"","serial":"2b9fb67b.fe5d5a","x":110,"y":200,"wires":[["941c9e11.1b9a4","87cdd0d1.d21c6"]]},{"id":"8e8452a8.22115","type":"debug","z":"eba66637.9e2b48","name":"","active":false,"console":"false","complete":"false","x":490,"y":200,"wires":[]},{"id":"bd590e4c.09e88","type":"inject","z":"eba66637.9e2b48","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":90,"y":280,"wires":[["25f0caf5.e6adb6"]]},{"id":"25f0caf5.e6adb6","type":"function","z":"eba66637.9e2b48","name":"init config","func":"flow.set('load',true);\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":280,"wires":[[]]},{"id":"941c9e11.1b9a4","type":"function","z":"eba66637.9e2b48","name":"read barcode","func":"flow.set(\"barcode\",msg.payload.replace(\"\\r\",\"\"));\nflow.set('load',true);\nmsg.payload = {\n    \"barcode\":msg.payload.replace(\"\\r\",\"\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["8e8452a8.22115","927895d2.9da908"]]},{"id":"563a08de.5db16","type":"link out","z":"eba66637.9e2b48","name":"get quality throw tcp","links":["254dd694.f0b9d2"],"x":775,"y":60,"wires":[]},{"id":"5a1f3d76.09eedc","type":"link out","z":"eba66637.9e2b48","name":"1c request","links":["7f30c975.ec2a48"],"x":775,"y":200,"wires":[]},{"id":"927895d2.9da908","type":"link out","z":"eba66637.9e2b48","name":"read barcode","links":["9ca4ae0b.efa638"],"x":635,"y":280,"wires":[]},{"id":"87cdd0d1.d21c6","type":"debug","z":"eba66637.9e2b48","name":"","active":false,"console":"false","complete":"false","x":316,"y":236,"wires":[]},{"id":"95f92d4d.e8f76","type":"function","z":"eba66637.9e2b48","name":"parse result","func":"var p = msg.payload;\n\nvar result = {\n    \"ambietTemperature\":p.ambietTemperature,\n    \"analysisCounter\":p.analysisCounter,\n    \"subsample_id\":p.subsample.id,\n    \"subsample_NrOFSubSamples\":p.subsample.NrOFSubSamples,\n    \"sampleHash\":p.sampleHash\n};\nvar notcondition = [];\nvar isNotConditional = false;\n\nfor (var i = 0; i < p.qualities.length; i++){\n    \n    var valueid = p.qualities[i].id.replace(\" \",\"\"); \n    var temp_value_name = p.qualities[i].value[0].match(/[a-zA-Z]+/g)[0];\n    var temp_value = parseFloat(p.qualities[i].value[0].match(/\\d+.\\d+/g));\n    result[temp_value_name] = temp_value;\n    \n    var temp_value_min_name = p.qualities[i].minmax[0].match(/[a-zA-Z]+/g)[0];\n    var temp_value_min = parseFloat(p.qualities[i].minmax[0].match(/\\d+.\\d+/g)[0]);\n    // result[temp_value_name+\"_\"+temp_value_min_name] = temp_value_min;\n    \n    var temp_value_max_name = p.qualities[i].minmax[0].match(/[a-zA-Z]+/g)[1];\n    var temp_value_max = parseFloat(p.qualities[i].minmax[0].match(/\\d+.\\d+/g)[1]);\n    // result[temp_value_name+\"_\"+temp_value_max_name] = temp_value_max;\n    \n    if ((temp_value>temp_value_max) || (temp_value<temp_value_min)){\n        notcondition.push({\n            [temp_value_name]:temp_value,\n            [temp_value_min_name]:temp_value_min,\n            [temp_value_max_name]:temp_value_max\n        });\n        isNotConditional = true;\n    }\n}\nmsg.payload = result;\nmsg.notcondition = notcondition;\nmsg.isNotConditional = isNotConditional;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":60,"wires":[["563a08de.5db16","a84df611.19faa8"]]},{"id":"f085f76a.e5f94","type":"inject","z":"eba66637.9e2b48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":300,"y":440,"wires":[["5caef02a.fe4ec"]]},{"id":"5caef02a.fe4ec","type":"template","z":"eba66637.9e2b48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\nFoss Tecator\n                 18-10-11     15:12        Instrument: 91822446\n                   OConstant:1678            PConstant:0.348\n\n                                   Operator:\n                            Ambient Temperature:23.0\n                              Analysis Counter:60\n                Model Checksum:1CE91408E6DFA6EB21E18A2D12EF47BE\n\n                  CO162311     Corn         NrOFSubSamples: 10\n\n              ~04180414~ ~043E043104400430043704460430~\n                                        COOI0011\n                                 OilDM    3.2\n                        Slope:     1       Intercept: 0\n                       Moisture:  0.0     Deviation: 0.2\n                     MinPred:   3.5     MaxPred:   4.0\n                                    SSR:\n                                  CnsCheck:\n                                        COPR0011\n                                ProtDM    7.3\n                        Slope:     1       Intercept: 0\n                       Moisture:  0.0     Deviation: 0.2\n                     MinPred:   7.1     MaxPred:   7.8\n                                    SSR:\n                                  CnsCheck:\n                                        COMO0023\n                              Moisture   20.0\n                      Slope:     1       Intercept: 0.6000\n                       Moisture:  0.0     Deviation: 0.4\n                     MinPred:   19.4    MaxPred:   20.5\n                                    SSR:\n                                  CnsCheck:\n                                        COST0006\n                              StarchDM   72.5\n                        Slope:     1       Intercept: 0\n                       Moisture:  0.0     Deviation: 0.3\n                     MinPred:   71.8    MaxPred:   72.9\n                                    SSR:\n                                  CnsCheck:\n     ###C:0:;UDF:6042:0:;UDF:6043:0:;UDF:6044:0:;UDF:6045:0:;UDF:6046:0:###\n                             This result belongs to\n              ~04180414~ ~043A043B04380435043D04420430~","x":440,"y":440,"wires":[["cecf782e.2573e8"]]},{"id":"a84df611.19faa8","type":"debug","z":"eba66637.9e2b48","name":"","active":true,"console":"false","complete":"true","x":820,"y":120,"wires":[]},{"id":"2b9fb67b.fe5d5a","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\r","bin":"false","out":"char","addchar":false}]
